<!DOCTYPE html>
<html lang="en" ng-app="hh">
<head>
    <% include ./partials/head %>
    <title>Home Hunt</title>

</head>
<body >



<div class="container-fluid back-img" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" >


            <div class="panel panel-default form-box1">
                <div class="jumbotron index-jumbotron">
                    <h1>Home Hunt</h1>
                </div>

                <div class="panel-body">

                    <div class="col-xs-12">
                        <p class="lead"><em>You are?</em></p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <a  class="btn btn-lg btn-block  btn-theme" href="/user/signup">Customer</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <a class="btn btn-lg  btn-block btn-theme" href="/agent/signup">Agent</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/index.js"></script>


</body>
</html>